.bottom-col {
  grid-area: 2 / 1 / 3 / 3;
}

.carousel-arrow {
  padding: 10px;
  border: 1px solid $grey-text;
  border-radius: 7px;
  cursor: pointer;
}

.carousel-arrow:hover {
  background-color: $light-btn;
}

.carousel-arrow:active {
  background-color: #edfdff;
  border-color: $main-link-color;
}

.bottom-col-carousel {
  &-ol {
    margin: 0;
    height: 100%;
    overflow-x: visible;
  }

  &-ol li {
    width: 160px;
    margin-left: 23px;
  }

  &-link {
    text-decoration: none;
    color: $main-link-color;
    cursor: pointer;
  }

  &-link:hover {
    color: $main-hover-color;
    text-decoration: underline;
  }
}
