* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "AmazonFont", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

a,
select {
  cursor: pointer;
}

a {
  color: $light-text;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgb(255, 255, 255);
}

table {
  border-collapse: collapse;
  width: 100%;
}

p {
  padding-top: 10px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-s-5 {
  padding: 0 5px;
}

.p-s-15 {
  padding: 8px 8px;
  white-space: nowrap;
}

.p-s-08 {
  padding: 0 8px;
  white-space: nowrap;
}

.m-t-15 {
  margin-top: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-yellow-btn {
  margin: 10px 0;
}

.flex-center {
  display: flex;
  align-items: center;
  align-content: center;
}

.flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.flex-end2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-space-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.big-txt {
  font-weight: bold;
}

.small-txt {
  font-size: 12px;
}
.nav2-white-txt {
  font-size: 14px;
}

.nav-link {
  border: 1px solid transparent;
  border-radius: 3px;
}

.nav-link:hover {
  border: 1px solid $light-text;
}

.container {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1500px;
}

.nowrap {
  white-space: nowrap;
}

.price-big-txt {
  color: $main-hover-color;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
}

.price-nor-txt {
  color: $main-hover-color;
  font-size: 14px;
  line-height: 20px;
}

.starts-chev {
  padding-left: 10px;
  font-size: 8px;
  color: $secondary-color;
  padding-top: 4px;
}

.table-title {
  text-align: right;
  color: $secondary-color;
  vertical-align: top;
  padding-right: 6px;
}

.table-title-s {
  color: $secondary-color;
  vertical-align: top;
  padding-right: 6px;
  font-size: 12px;
}
.fonts-12 {
  font-size: 12px;
}

.discount-txt {
  text-decoration: line-through;
  color: $secondary-color;
}

.grey-txt {
  color: $secondary-color;
}

.link-no-underline {
  color: $main-link-color;
  cursor: pointer;
}

.link-no-underline:hover {
  color: $main-hover-color;
}

.reg-chev {
  padding-left: 4px;
  font-size: 8px;
  color: $secondary-color;
}

.green-title {
  color: #007600;
  font-size: 18px;
  line-height: 24px;
}

.display-grid {
  display: grid;
}

.btn-yellow {
  background-color: $yellow;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-yellow-small {
  background-color: $yellow;
  border: none;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 11px;
}
.btn-yellow:hover {
  background-color: $yellow-hover;
}
.btn-orange {
  background-color: $orange;
  border: none;
  padding: 10px 0;
  border-radius: 20px;
  cursor: pointer;
}
.btn-orange:hover {
  background-color: $orange-hover;
}

.btn-grey {
  padding: 8px 10px;
  width: 100%;
  text-align: left;
}

.side-card {
  border: 1px solid $grey-text;
  border-radius: 10px;
}

.txt-center {
  text-align: center;
  width: 100%;
}

.orange-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $orange-title;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
}
