$background-nav: #0f1111;
$grey-text: #cccccc;
$light-text: white;
$hover-color-search-submit: #f3a847;
$color-search-submit: #febd69;
$cart-counter-text-color: #f08804;
$grey-nav2: #323341;
$light-menu: #fafafa;
$secondary-color: #565959;
