$background-nav: #0f1111;
$grey-text: #cccccc;
$light-text: white;
$hover-color-search-submit: #f3a847;
$color-search-submit: #febd69;
$yellow: #ffd814;
$yellow-hover: #f7ca00;
$orange-hover: #fa8900;
$orange-title: #cc6600;
$orange: #ffa41c;
$cart-counter-text-color: #f08804;
$grey-nav2: #323341;
$light-menu: #fafafa;
$light-btn: #f7fafa;
$secondary-color: #565959;
$main-link-color: #007185;
$main-hover-color: #b12704;
